@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Philosopher:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15%;
  background: transparent;
  transition: all 0.5s ease;
}

.logo {
  color: #fb9333;
  font-family: "Philosopher", sans-serif;
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
}

.nav-list {
  display: flex;
}

.nav-list a {
  margin: 0 5px;
  padding: 5px 10px;
  color: #150c01;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.5s ease;
}

.nav-list a:hover {
  color: #fb9333;
}

.btn {
  display: inline-block;
  padding: 10px 34px;
  color: #fff;
  background: #fb9333;
  border-radius: 30px;
  font-size: 14px;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

.btn:hover {
  background: #ff7a00;
}

#menu-icon {
  color: #fff;
  font-size: 38px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

section {
  padding: 0 15%;
}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.m-text h1 {
  font-size: 90px;
  font-weight: 800;
  mask-border: 5px;
}

.m-text p {
  font-size: 30px;
  font-weight: 600;
}

@media (max-width: 950px) {
  .m-text h1 {
    font-size: 70px;
  }

  .m-text p {
    font-size: 22px;
  }

  .logo {
    font-size: 30px;
  }

  .btn {
    padding: 9px 27px;
  }
}

@media (max-width: 860px) {
  #menu-icon {
    display: block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
  }

  .nav-list a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .menu-icon {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
  }

  .nav-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #fb9333;
    text-align: left;
    transition: all 0.5s ease;
  }

  .nav-list a {
    color: #fff;
    padding: 1rem;
    margin: 1rem;
    border-left: 2px solid #fff;
    display: block;
  }

  .nav-list a:hover {
    background: #fff;
    color: #fb9333;
  }

  .nav-list.open {
    top: 100%;
  }
}

@media (max-width: 750px) {
  .m-text h1 {
    font-size: 50px;
  }
}
